spring.application.name=TimeWeaver

# Server
spring.lifecycle.timeout-per-shutdown-phase=3s

# Database
spring.datasource.url=jdbc:mysql://db:3306/time_weaver?createDatabaseIfNotExist=true
spring.datasource.username=root
spring.datasource.password=

# Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

logging.level.es.angelkrasimirov=DEBUG

# JWT
jwt.secret=

# Credentials
app.admin.username=admin
app.admin.password=
app.defaultUser.username=testuser
app.defaultUser.password=

#Stripe 
# Stripe
stripe.secret.key=
stripe.intermediate.price.id=
stripe.business.price.id=